<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{master}">

<head>


</head>

<body >
<div layout:fragment="content">

      <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h1 class="h3 mb-0 text-gray-800">Inicio</h1>
            <h2 class="h3 mb-0 text-gray-800">Bienvenidos A La Universidad De Ibague</h2>


        </div>

      </div>

    </div>

</div>
</body>

</html>